# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/*
build/_output
deploy/tmp

# GOPATH
.go

# helm

env.ini
kind/config/kubeconfig
.tmp.image.tar
LOCALNOTES.md
httpbin.yaml
allure_report
helm/test/__pycache__/
.DS_Store
